extends layout
block content
  .container
    .panel.panel-default
      .panel-body
          if !agrgresult
            each key in sortresult
              p "#{key.domain}"#{dlm}"#{key.id}"#{dlm}"#{key.title}"#{dlm}"#{key.date}"#{dlm}"#{key.score}"
          else
            //- each key in agrgresult
            each key in agrgresult
              p "#{key.domain}", "#{key.amount}", "#{key.score}"
